src/main/resources/edu/sparqline/quamoco/models/quamoco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by NEO Researcher (Montana State University - Bozeman) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xmi="http://www.omg.org/XMI" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.quamoco.de/qm/v17" targetNamespace="http://www.quamoco.de/qm/v17">
	<xs:import namespace="http://www.omg.org/XMI" schemaLocation="quamoco2.xsd"/>
	<xs:import schemaLocation="quamoco1.xsd"/>
	<xs:complexType name="WeightedSumMultiMeasureEvaluation">
		<xs:complexContent>
			<xs:extension base="T_evaluations"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WeightedSumFactorAggregation">
		<xs:complexContent>
			<xs:extension base="T_evaluations"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ToolBasedInstrument">
		<xs:complexContent>
			<xs:extension base="T_measurementMethods"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="QIESLEvaluation">
		<xs:complexContent>
			<xs:extension base="T_evaluations"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NormalizationMeasure">
		<xs:complexContent>
			<xs:extension base="T_measures"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ManualInstrument">
		<xs:complexContent>
			<xs:extension base="T_measurementMethods"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LinearIncreasingFunction">
		<xs:complexContent>
			<xs:extension base="T_function"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LinearDecreasingFunction">
		<xs:complexContent>
			<xs:extension base="T_function"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FindingsUnionMeasureAggregation">
		<xs:complexContent>
			<xs:extension base="T_measurementMethods"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="QualityModel">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="originatesFrom"/>
					<xs:element ref="taggedBy"/>
					<xs:element ref="entities" maxOccurs="unbounded"/>
					<xs:element ref="factors" maxOccurs="unbounded"/>
					<xs:element ref="evaluations" maxOccurs="unbounded"/>
					<xs:element ref="measures" maxOccurs="unbounded"/>
					<xs:element ref="measurementMethods" maxOccurs="unbounded"/>
					<xs:element ref="tools" maxOccurs="unbounded"/>
					<xs:element ref="tags" maxOccurs="unbounded"/>
					<xs:element ref="sources"/>
					<xs:element ref="requires" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="entities" maxOccurs="unbounded"/>
					<xs:element ref="factors" maxOccurs="unbounded"/>
					<xs:element ref="evaluations" maxOccurs="unbounded"/>
					<xs:element ref="measures" maxOccurs="unbounded"/>
					<xs:element ref="measurementMethods" maxOccurs="unbounded"/>
					<xs:element ref="tools" maxOccurs="unbounded"/>
					<xs:element ref="tags" maxOccurs="unbounded"/>
					<xs:element ref="sources" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="taggedBy"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="factors"/>
							<xs:element ref="evaluations" maxOccurs="unbounded"/>
							<xs:element ref="measures" maxOccurs="unbounded"/>
							<xs:element ref="measurementMethods" maxOccurs="unbounded"/>
							<xs:element ref="tools" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="entities" maxOccurs="unbounded"/>
							<xs:element ref="factors" maxOccurs="unbounded"/>
							<xs:element ref="evaluations" maxOccurs="unbounded"/>
							<xs:element ref="measures" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:choice>
					<xs:element ref="requires"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute ref="xmi:version" use="required"/>
			<xs:attribute ref="xmi:id" use="required"/>
			<xs:attribute name="title">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="C#"/>
						<xs:enumeration value="Java"/>
						<xs:enumeration value="Object-orientation"/>
						<xs:enumeration value="Root"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute ref="description" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
